@use '../../app.scss' as *;

.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: $accent-purple;
    color: #ffffff;
    border: none;
    padding: 1rem;
    border-radius: 12rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    transition: background-color 0.3s ease, transform 0.2s ease;
  
    &:hover {
      background-color: #34345c;
      transform: translateY(-4px);
    }
  }
  